extends ../layout/index
block contenido 
    
    main.container.mt-5
        .row 
            .col-md-5
                img(src="img/nosotros.jpg" class="img-fluid", alt="Logo Nosotros")

            .col-md-7 
                h1.mt-5.mt-md-1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus in dictum enim, ac auctor massa. Integer sit amet orci ac erat pharetra egestas. Sed neque erat, gravida vel leo a, posuere ultrices arcu.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque quod ipsum, ipsa debitis tenetur voluptatem laborum esse! Veritatis accusantium dolorem corrupti cumque mollitia ab dignissimos rem laudantium inventore maiores asperiores temporibus, aperiam optio, nihil ipsa obcaecati aut illo deserunt consequuntur.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora earum numquam culpa ea magnam nobis architecto deserunt necessitatibus suscipit dolorum?
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", class='img-flud mb-4')
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui enim assumenda corporis praesentium et quia facere odit, ipsum ad unde.
                .col-md-4
                    img(src="img/icono_destinos.svg", class='img-flud mb-4')
                    h2.mb-4 Mejores Destinos
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui enim assumenda corporis praesentium et quia facere odit, ipsum ad unde.
                .col-md-4
                    img(src="img/icono_precios.svg", class='img-flud mb-4')
                    h2.mb-4 Nejor Precio
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui enim assumenda corporis praesentium et quia facere odit, ipsum ad unde.